body {
	font-family: "Segoe UI", Verdana, sans-serif;
	font-size: 11pt;
	background-color: #f0f0f0;
	text-align: justify;
}

a:visited {
    color: #0066cc;
}

a:hover {
    color: darkred;
}

.koraci {
	font-family: "Segoe UI Semibold", Verdana, sans-serif;
}

.podstavke {
	font-family: "Segoe UI", Verdana, sans-serif;
}

h3 {
	margin: 0;
}

ul {
    list-style-type: square;
}

.prozor {
	text-align: center;
	margin: 15px 0px;
}

table {
	width: 100%;
}

td {
	font-size: 10pt;
	text-align: center;
	vertical-align: bottom;
}

#gornja {
	margin-bottom: 20px;
	border: 1px solid DodgerBlue;
}

img.slika {
	margin-top: 20px;
	margin-left: 20px;
	float: right;
}

img.ikonica {
    vertical-align: middle;
    border: 1px solid LightGrey;
}

div.meni {
    margin: 10px 0px;
}

.redirekcija {
    font-family: "Segoe UI Semibold", Verdana, sans-serif;
}