@model List<DrugListDTO>
@{
    ViewData["Title"] = "Drugs";
    Layout = "_Layout";
}

<div class="card text-center">
    <div class="card-header">
        <h2 class="text-center">Choose a drug</h2>
    </div>
    
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th><h5 class="card-title">Name</h5></th>
                    <th><h5 class="card-title">Code</h5></th>
                </tr>
            </thead>

            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @item.Name
                    </td>
                    <td class="text-center">
                        @item.Code
                    </td>
                    <td class="text-center">
                        <form method="post" action="/DrugSpecifications/RequestSpecifications">
                            <input type="submit" value="Request Specifications" class="btn btn-primary">
                            <input type="hidden" name="pharmacyId" value=@ViewBag.PharmacyId />
                            <input type="hidden" name="drugId" value=@item.Id />
                            <input type="hidden" id="PushEndpoint" name="PushEndpoint" />
                            <input type="hidden" id="PushP256DH" name="PushP256DH" />
                            <input type="hidden" id="PushAuth" name="PushAuth" />
                        </form>
                    </td>
                </tr>
            }   
            </tbody>
        </table>
    </div>
</div>