@model List<Backend.Model.DTO.TenderDrugDTO>
@{
    ViewData["Title"] = "Tender";
    Layout = "_Layout";
}
<div class="card text-center">
    <div class="card-header">
        <h2 class="text-center">Drugs</h2>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th><h5 class="card-title">Name</h5></th>
                <th><h5 class="card-title">Quantity</h5></th>
            </tr>
            </thead>

            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @item.Name
                    </td>
                    <td class="text-center">
                        @item.Quantity
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>