@model List<Backend.Model.Pharmacies.TenderOfferDTO>
@{
    ViewData["Title"] = "Tender";
    Layout = "_Layout";
}
<div class="card text-center">
    <div class="card-header">
        <h2 class="text-center">Offers</h2>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th><h5 class="card-title">Code</h5></th>
                    <th><h5 class="card-title">Name</h5></th>
                    <th><h5 class="card-title">Quantity</h5></th>
                    <th><h5 class="card-title">Price per unit</h5></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @item.Code
                        </td>
                        <td class="text-center">
                            @item.Name
                        </td>
                        <td class="text-center">
                            @item.Quantity
                        </td>
                        <td class="text-center">
                            @item.Price
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>