.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    visibility: hidden;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
    color: black;
}

.carousel-caption div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
}

.trickcenter {
    position: fixed;
    top: 84%;
    // 50% for perfect centering left: 50%;
    transform: translate(-50%, -50%);
}