body {
    height: 100%;
    width: 100%;
}

#search_btn {
    width: 10%;
    margin-left: 45%;
}

#text_area {
    margin-left: 36%;
    width: 30%;
}

div#view_feedbacks {
    border: 1px solid grey;
    position: absolute;
    background-color: #c1f0f0;
    left: 50px;
    width: 18%;
    top: 60px;
    margin-top: 180px;
}
