/* Style the form for registration */
form.register {
    margin: auto;
    width: 60%;
    margin-top: 80px;
}

/* Style the title above the form */
.register_title {
    margin: auto;
    width: 60%;
}

/* Style all input tags in form */
input.register {
    margin-bottom: 0px;
    background: white;
}

/* Style the input tag for sending information about patient */
input#send {
    margin: auto;
    margin-left: 270px;
    width: 30%;
    margin-top: 60px;
    margin-bottom: 100px;
    height: 38px;
}

/* Style the section tag which arounded inputs from form */
#corners {
    border-radius: 5px;
    border: 2px solid rgb(43, 110, 138);
    padding: 20px;
}

/* Style the label above the section tag */
label.corner_info {
    color: rgb(43, 110, 138);
    font-size: 20px;
}

/* Style the text area in form */
textarea.register {
    background-color: white;
    height: 160px;
    border-radius: 0px;
}
